%ul.breadcrumb
  %li
    %a{:href => "/"} Home
    %span.divider /
  %li.active
    %a{:href => "/rankings"} Ranking

#ranking
  %table.table-bordered.table-striped#standings
    %tr.header
      %th.rank  Place
      %th.name  Name
      %th.count Score
    - @scores.each_with_index do |item, index|
      %tr.entry{ class: "place-#{index+1}" }
        %td= index + 1
        %td
          %a{ href: "/teams/#{item[:team_id]}" }
            =item[:name]
        %td= item[:score]
:javascript
  setInterval(function() { window.location.reload() }, 60 * 1000)
