.navbar
  .navbar-inner
    .container
      %a.brand{:href => "/"} Beat the Riddler!
      .nav-collapse
        %ul.nav
          %li.logos
            %a{:href => '/'}
              = image_tag current_user.avatar_url
              = image_tag "logos/icon-#{current_user.provider}.png"
          %li.dropdown
            %a.dropdown-toggle.home{ :href => '#', 'data-toggle' => "dropdown"}
              Hello,
              = current_user.username
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:href => "/logout"} Logout
          - if current_user.staff? or current_user.team_id
            %li
              %a{ :href => '/rankings'} Ranking
            %li
              %a{ :href => '/puzzles'} Puzzles
          - if current_user.staff?
            %li
              %a{ :href => '/teams'} Teams

